.footer {
  width: 100%;
  height: 180px;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rrss {
  margin-bottom: 20px;
}

.rrss a {
  font-size: 20px;
  color: rgb(153, 153, 153);
  margin-right: 30px;
}

.rrss i:hover {
  cursor: pointer;
  color: rgb(78, 78, 78);
}

.rrss a:last-child {
  margin-right: 0 !important;
}

.registro {
  color: rgb(153, 153, 153);
}
