.contacto {
  width: 100%;
  padding: 60px 0;
}

.contenedorContacto {
  width: 100%;
  display: flex;
  padding-top: 80px;
}

.infoContacto {
  width: 50%;
}

.infoContacto a {
  text-decoration: none;
  color: rgb(34, 37, 41);
}

.infoContacto a:hover {
  color: #f3c046;
}

.infoContacto h3 {
  font-weight: bold;
  margin-bottom: 30px;
}

.formContacto {
  width: 50%;
}

.formContacto input:focus {
  border: 1px solid #f3c046;
  outline: none !important;
  box-shadow: none !important;
}

.formContacto textarea {
  resize: none;
  outline: none !important;
  box-shadow: none !important;
}

.formContacto textarea:focus {
  border: 1px solid #f3c046;
}

.negrita {
  font-weight: bold;
}

.btn-enviar {
  width: 100%;
  background-color: #000 !important;
  color: #f3c046 !important;
  padding: 5px 30px !important;
  margin-top: 10px;
}

.btn-enviar:hover {
  background-color: #f3c046 !important;
  color: #000 !important;
}

.escribime {
  display: none;
}

@media (max-width: 480px) {
  .contenedorContacto {
    flex-direction: column;
    padding-top: 30px;
  }

  .escribime {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .negrita {
    font-weight: normal;
  }

  .infoContacto,
  .formContacto {
    width: 100%;
  }

  .infoContacto {
    margin-bottom: 30px;
  }
}
